html, body {
                width: 1280;
                height: 3083;
                background-color: black;
                position: relative;
                margin:0 auto;
            }
.container {
    position: absolute;
    width: 1280px;
    height: 2000px;
    left: 50%;
    margin-left: -640px;

}
.frame {
	position: absolute;
width: 1279px;
height: 2030px;
background: #FFFFFF;
z-index: -3;

}

.S {

position: absolute;
left: 79px;
top: -85px;

font-family: Abril Fatface;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 70px;

color: #22CFC5;}



.K {

position: absolute;
left: 31px;
top: -85px;

font-family: Abril Fatface;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 70px;

color: #22CFC5;}

.kate {
	position: absolute;
width: 156px;
height: 35px;
left: 126px;
top: -10px;

font-family: Futura-CondensedMedium;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 20px;
letter-spacing: 0.1em;

color: #22CFC5;

}

.strong {
	position: absolute;
width: 156px;
height: 35px;
left: 126px;
top: 15px;

font-family: Futura-CondensedMedium;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 20px;
letter-spacing: 0.1em;

color: #22CFC5;

}


.bar1 {
position: absolute;
width: 15px;
height: 540px;
left: 9px;
background: #22CFC5;
animation: bar1_move 4s forwards;
}

@keyframes bar1_move {
    0% {top: -740px; left:9px;}
    100% {top: 0px; left: 9px;}
}

.bar2 {
position: absolute;
width: 15px;
height: 640px;
left: 952px;
top: 240px;
background: #22CFC5;
transform: rotate(90deg);
animation: bar2_move 4s forwards;
}

@keyframes bar2_move {
    0% {top: 240px; left:1552px;}
    100% {top: 240px; left: 952px;}
}

.mainpicture {

position: absolute;
width: 994px;
height: 512px;
left: 0px;
top: 71px;
z-index: -1;

}

.box {
position: absolute;
width: 500px;
height: 160px;
left: 600px;
top: 144px;
background: #FFFFFF;
}


.what {
	position: absolute;
width: 500px;
height: 105px;
left: 630px;
top: -15px;

font-family: Futura-CondensedMedium;
font-size: 150px;

color: #000000;

}

.story {
position: absolute;
width: 425px;
height: 208px;
left: 780px;
top: 420px;

font-family: Futura PT;
font-style: normal;
font-weight: 300;
line-height: normal;
font-size: 16px;

color: #000000;

}



.bluebox1 {
position: absolute;
width: 843px;
height: 155px;
top: 635px;

background: #22CFC5;
}

.text1 {
    position: absolute;
width: 797.04px;
height: 205.29px;
top: 463px;
left: 20px;
font-family: Abril Fatface;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 146px;
text-align: left;

color: #FFFFFF;
}


.para1 {
    position: absolute;
width: 332px;
height: 115px;
left: 58px;
top: 787px;

font-family: Futura PT;
font-style: normal;
font-weight: 300;
line-height: normal;
font-size: 20px;
text-align: right;

color: #000000;
}

.info1 {
    position: absolute;
    width: 332px;
    left: 0px;
    top: 100px;
}

.image1 {
position: absolute;
width: 880px;
height: 551px;
left: 342px;
top: -20px;
z-index: -2;

}

.bluebox2 {
position: absolute;
width: 1221px;
height: 165px;
left: 0px;
top: 1382px;
background: #22CFC5;


}

.text2 {
position: absolute;
width: 1188px;
height: 140px;
left: 20px;
top: 1220px;

font-family: Abril Fatface;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 146px;
text-align: left;

color: #FFFFFF;
}

.image2 {
position: absolute;
width: 839px;
height: 549px;
left: 0px;
top: 1475px;
z-index: -1;
}


.para2 {
    position: absolute;
width: 332px;
height: 115px;
left: 860px;
top: 1545px;

font-family: Futura PT;
font-style: normal;
font-weight: 300;
line-height: normal;
font-size: 20px;

color: #000000;

}

.info2 {
    position: absolute;
    width: 310px;
   left: 855px;
top: 1830px;
}


.sandwhich {
    width: 70px;
    height: 80px;
    position: absolute;
    top: -15px;
    right: 5px;
}

.rectangle1 {
position: absolute;
width: 35px;
height: 5px;
right: 0px;
top: 0px;

background: #22CFC5;
}

.rectangle2 {
position: absolute;
width: 35px;
height: 5px;
right: 0px;
top: 8px;
background: #22CFC5;
}


.rectangle3 {
position: absolute;
width: 21.94px;
height: 5px;
right: 0px;
top: 16px;
background: #22CFC5;
}

.menuarea {
    width: 150px;
    height: 180px;
    background: #22CFC5;
    position: absolute;
    top: 20px;
    right: 5px;
    display: none;}

    .link {
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-style: thin;
        font-weight: 300;
        font-size: 22px;
        color: white;
        display: block;
        margin-bottom: 10px;
        text-align: right;
        padding-right: 10px;
        padding-top: 10px;
    }

    .hover {
        width: 70px;
        height: 80px;
        position: absolute;
        top: 23px;
        right: 0px;
    }


